.trade {
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  .trade-list {
    padding-top: 10px;
    margin-top: 76px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}