.login {
  height: 100%;
  background: url('./img/login.jpg') no-repeat;
  background-size: 100%;
  overflow: auto;
  .form-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62%;
    .rowself {
      font-size: 0;
      margin-top: 10px;
      display: flex;
      align-items: center;
      .col-3 {
        width: 30%;
        text-align: right;
        img {
          width: 100%;
        }
      }
      .col-7 {
        width: 70%;
        font-size: 1rem;
        padding-left: 15px;
        input {
          border: 0;
          border-bottom: 1px solid #ddd;
          padding: 4px;
          height: 25px;
          width: 90%;
          color:#212121;
          font-size: 16px;
          background-color: transparent;
        }
        input:focus{
          outline: none;
        }
      }
      .captcha {
        input {
          width: 50%;
          vertical-align:top;
        }
        .captcha-img {
          vertical-align:top;
          display: inline-block;
          height: 35px;
          width: 40%;
          text-align: center;
          img {
            height: 100%;
          }
        }
      }
    }
    .login-btn {
      text-align: center;
      margin-top: 10%;
      img {
        cursor: pointer;
        outline: none;
      }
    }
  }
}
