.recharge-list {
  color: #000;
  margin-top: 15px;
  // table {
  //   width: 100%;
  // }
  // th,td {
  //   border: 1px solid #999;
  //   text-align: center;
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  // }
  .user-recharge-btn {
    color: #0f9932;
    cursor: pointer;
  }
  .user-record-btn {
    color: #3399CC;
    cursor: pointer;
  }
}