.user-recharge {
  color: #000;
  table {
    tbody {
      tr {
        th {
          text-align: right;
          width: 20%;
        }
        td {
          padding-left: 10px;
        }
      }
    }
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .user-recharge {
    table {
      tbody {
        tr {
          th {
            width: 25%;
          }
        }
      }
    }
  }
}