<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="author" content="czb_80@163.com redbon.cn">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" >
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" >
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/weui/1.1.0/style/weui.min.css" rel="stylesheet">
    <link href="https://unpkg.com/react-weui@1.1.1/build/dist/react-weui.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
</body>
</html>