.shared {
  .shared-content {
    border-top: 0;
    padding-left: 20px;
    padding-right: 15px;
    p{
      margin-top: 20px;
    }
    .qrcode {
      text-align: center;
      color: #8bc34a;
    }
    .open-link {
      text-align: center;
      a {
        color: #8bc34a;
      }
    }
  }
}