.guess-game {
  height: 100%;
  display: flex;
  flex-direction: column;
  a {
    color: #fff;
    text-decoration: none;
  }
  .game-content {
    background: url('./img/1.jpg') no-repeat center;
    // overflow: hidden;
    height: 324px;
    .issue {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 3px;
      color: #fff;
      span,
      a {
        display: block;
      }
      a,
      .goback,
      .history {
        color: #000;
        border-radius: 15px;
        background-color: #eee;
        opacity: .8;
        padding: 1px 10px 2px;
        cursor: pointer;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .turngame {
      overflow: hidden;
      flex: 1;
      .circle {
        width: 200px;
        height: 200px;
        margin: 40px auto;
        border-radius: 100px;
        // border: 1px solid red;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .item {
          height: 34.729635px;
          width: 34.729635px;
          // border: 1px solid purple;
          background-color: #999;
          position: absolute;
          color: #fff;
          border-radius: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .item1 {
          left: 82.64px;
          top: -17.36px;
        }
        .item2 {
          left: 116.84px;
          top: -11.33px;
        }
        .item3 {
          left: 148.91px;
          top: 5.03556px;
        }
        .item4 {
          left: 171.2425px;
          top: 32.64px;
        }
        .item5 {
          left: 183.4425px;
          top: 64.89px;
        }
        .item6 {
          left: 183.4425px;
          bottom: 64.89px;
        }
        .item7 {
          left: 171.2425px;
          bottom: 32.64px;
        }
        .item8 {
          left: 148.91px;
          bottom: 5.03556px;
        }
        .item9 {
          left: 116.84px;
          bottom: -11.33px;
        }
        .item10 {
          left: 82.64px;
          bottom: -17.36px;
        }
        .item11 {
          left: 48.44px;
          bottom: -11.33px;
        }
        .item12 {
          left: 16.37px;
          bottom: 5.03556px;
        }
        .item13 {
          left: -5.9625px;
          bottom: 32.64px;
        }
        .item14 {
          left: -18.1625px;
          bottom: 64.89px;
        }
        .item15 {
          left: -18.1625px;
          top: 64.89px;
        }
        .item16 {
          left: -5.9625px;
          top: 32.64px;
        }
        .item17 {
          left: 16.37px;
          top: 5.03556px;
        }
        .item18 {
          left: 48.44px;
          top: -11.33px;
        }
        .count-down {
          background-color: #000;
          color: #004FCF;
          text-shadow: 2px 2px 1px #fff;
          border: 2px solid #fff;
          width: 50%;
          text-align: center;
          font-size: 2.5rem;
        }
        .active-number {
          background-color: yellowgreen;
        }
      }
    }
  }
  .game-control {
    background: url('./img/2.jpg') no-repeat center center;
    flex: 1;
    color: #fff;
    .choose {
      display: flex;
      padding: 20px 15px;
      h3 {
        margin: 0;
        margin-bottom: 10px;
      }
      div {
        text-align: center;
        width: 36%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid #2BAFDF;
        background-color: #0D2556;
      }
      .active-choose {
        border-radius: 8px;
        background-color: #0E75D4;
      }
    }
    .amount,
    .start-game {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .amount {
      input {
        text-align: center;
        height: 30px;
        width: 80px;
        border: 1px solid #0E75D4;
        box-sizing: border-box;
      }
      button {
        background-color: #0E75D4;
        border: 0;
        height: 30px;
        width: 30px;
        color: #fff;
      }
      button:first-child {
        margin-right: 10px;
        width: 50px;
      }
    }
    .start-game {
      button {
        width: 50%;
        font-size: 1.5rem;
        border: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #0E75D4;
        border-radius: 5px;
        margin-bottom: 10px;
        color: #fff;
      }
    }
  }
}

.betresult-dialog {
  .weui-dialog__bd {
    font-size: 1rem;
    padding: 1rem;
    .red-text {
      color: #F44336;
    }
    .result-text {
      display: block;
      margin-top: 10px;
    }
    .result-content {
      padding: 5px;
      padding-bottom: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      >div {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D182D0;
        padding: 8px 1px;
      }
      .betresult {
        background-color: #D182D0;
        color: #fff;
        display: block;
        height: 23px;
        width: 23px;
        border-radius: 15px;
      }
    }
    button {
      width: 50%;
      border: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #0E75D4;
      border-radius: 5px;
      color: #fff;
    }
  }
}

@media screen and (max-width: 320px) {
  .guess-game {
    .game-control {
      .choose {
        padding-bottom: 10px;
        div {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .amount,
      .start-game {
        text-align: center;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }
}