.redbag {
    .redbag-content {
        margin-top: 56px;
        .tear-redbag {
            text-align: center;
        }
        .redbag-text {
            text-align: center;
            margin: 50px 0px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            font-size: 14px;
            line-height: 24px;
            font-family: "MicroSoft YaHei";
            p {
              margin: 1em 0;
            }
            p:last-child {
              color: rgb(255, 0, 0);
            }
        }
    }
}