.alert-wrapper.collapse.in {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  left: 0;  
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .my-alert {
    .alert {
      margin-bottom: 0;
      margin-top: 30px;
      padding: 10px 15px;
    }
  }
}